.container{
    display: flex;
    justify-content: center;
}

.card{
    background-color: whitesmoke;
}

h5{
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.card-subtitle{
    font-weight: 500;
    
}

.card-title, .btn{
    display: flex;
    justify-content: center;
    
}

.btn-primary > h5{

    color: whitesmoke;
    font-weight: 300;
}
